<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% if title %}{{ title }}{% else %}Default title{% endif %}</title>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <link href="{{ url_for('static', filename= 'styles/style.css') }}" rel="stylesheet">
    <link href="/static/images/icon-192x192.png" rel="icon" type="image/png">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Meta Tags required for Progressive Web App -->
    <meta content="#28a745" name="apple-mobile-web-app-status-bar">
    <meta content="#28a745" name="theme-color">

    <link href="{{ url_for('static', filename= '/manifest.json') }}" rel="manifest">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/static/images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    {% endblock %}
</head>
<body>


<div class="container h-100 bg-light p-0" style="display: flex; flex-direction:column">
    {% include 'inc/toolbar.html' %}

    <main class="overflow-auto h-100 p-3">
        {% include 'inc/messages.html' %}
        {% block content %} {% endblock %}
    </main>

    {% include 'inc/navbar.html' %}
</div>


{% block scripts %}
<!-- import the webpage's javascript file -->
<script defer src="static/js/script.js"></script>

{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>