{% extends 'base.html' %}

{% block content %}

{% for category, items in buys | groupby('category') %}

<ul class="list-group py-2 px-0">

    <li class="list-group-item">
        <h6 class="d-flex justify-content-between align-items-center pb-3 m-0">
            {{ category }}
            <!--<small>{{ items|sum(attribute='price') }}</small>-->
        </h6>

        <ul class="list-group list-group-flush p-0">
            {% for buy in items %}
            <li class="list-group-item px-0">
                <a class="d-flex justify-content-between align-items-center list-group-item-light"
                   href="{{ url_for('detail', buy_id=buy.id) }}">
                    <small>{{ buy.title }}</small>
                    <span class="badge badge-pill px-0">{{ buy.price }} تومان</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>

</ul>

{% endfor %}

{% endblock %}