{% if request.path == "/" %}
<ul class="nav nav-pills nav-fill sticky-top shadow bg-gradient bg-success p-0" style="display: block">

    <li class="nav-item text-light pb-2 pt-4">
        <h3>{{ buys|sum(attribute='price') }}<span> تومان</span></h3>
        <small>{{ startDate }}</small>
        <!--        <h6>{{ session['startdate'] }}-->
        <!--            {{ session['enddate'] }}</h6>-->
    </li>

    <form action="/" class="d-flex justify-content-between" method="post">
        {{ form.hidden_tag() }}
        <input class="btn icon text-light" style="font-weight:100"
               name="submit_button" type="submit" value="ماه بعد"/>
        <input class="btn icon text-light" name="submit_button"
               style="font-weight:100" type="submit" value="این ماه">
        <input class="btn icon text-light fw-light" style="font-weight:100"
               name="submit_button" type="submit" value="ماه قبل"/>
    </form>

</ul>


{% else %}
<ul class="nav nav-pills nav-fill sticky-top p-2 shadow bg-gradient bg-success">
    <li class="nav-item float-right text-light">

    </li>
    <li class="nav-item text-light">
        {% if title %} {{ title }} {% else %} Default title {% endif %}
    </li>
    <li class="nav-item">
        <a class="button icon text-light float-left" href="javascript:void(0);"
           onclick="window.history.back();"
           role="button" title="بازگشت">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-arrow-left-short">
                <path fill-rule="evenodd"
                      d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"/>
            </svg>
        </a>
    </li>
</ul>
{% endif %}